.header
{
    margin:3.5% 10% 0 0;
    width: 40%;
    background-color: transparent;
    float: right;
}
.header ul{
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-family:Jura,'sans-serif';
    font-weight: bolder;
}
.header li:hover{
    cursor: pointer;
    color:var(--primary-color);
}

@media(max-width:450px){
    .header{
        width: 50%;
        
        margin-right: 0%;
    }
    .header ul{
        flex-direction: column;
        line-height: 30px;
        margin-left: 12.5%;
    }
}