.header
{
    margin:3.5% 10% 0 0;
    width: 40%;
    background-color: transparent;
    float: right;
}
.header ul{
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-family:Jura,'sans-serif';
    font-weight: bolder;
}
.header li:hover{
    cursor: pointer;
    color:var(--primary-color);
}