.apresentacao{
    width: 30%;
    padding-left: 5%;
}
.apresentacao img{
    height: 125px;
    margin-top: 7.5%;
    margin-bottom: 4%;
}
.apresentacao article
{
    color:white;
    text-align: left;
    font-size: 40px;
    font-weight: bolder;
    margin-bottom: 25px;
    line-height: 1.5;
}
.btn{
    margin:0 auto;
}

span{
    color:var(--primary-color);
}
