.apresentacao{
    width: 30%;
    padding-left: 13%;
}
.apresentacao img{
    height: 125px;
    margin-top: 7.5%;
    margin-bottom: 4%;
}
.apresentacao article
{
    color:white;
    text-align: left;
    font-size: 40px;
    font-weight: bolder;
    margin-bottom: 25px;
    line-height: 1.5;
    font-family: Teko,'sans-serif';

}
.btn{
    margin:0 auto;
}
span{
    color:var(--primary-color);
}
@media(max-width:450px){
    .apresentacao{
        width:100%;
        padding-left: 2%;
    }
    .apresentacao article{
        width:60%;
        font-size: 30px;
    }
    .apresentacao img{
        height: 100px;
    }
}
