.servicos{
    text-align: center;
}
.conteudoServicos{
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 2%;
}
.p{
    font-size: 22px;
    width: 100%;
}
.animationServico{
    animation: 1.4s ease-out 0s 1 backToTop;
}
@keyframes backToTop{
    0%{
         transform: translateY(100%);   
    }
    100%{
        transform: translateY(0);
    }
}