.portifolio{
    text-align: center;
    margin-top: 7%;
}
.divPortifolios{
    width: 100%;
    margin-bottom: 2%;
}
.divPortifolios ul
{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
@media(max-width:450px){
    .divPortifolios ul{
        grid-template-columns: 1fr;
    }
}