:root{
  --primary-color:#ff8b14;;
  --second-color:#1c1c1c;
  --color-msg:#00d760;
}
body {
  background-color: var(--second-color);
  color: white;
  margin: 0;
  margin-left: 8%;
  max-width: 100vw;
  font-size: 'Inter',sans-serif;
}
.title{
    color:var(--primary-color);
    font-weight: bolder;
    font-size: 42.5px;

}

