.btn
{
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
    border-radius: 6px;
    color:white;
    width:150px;
    height: 55px;
    font-size: 15px;
}
.btn:hover{
    cursor: pointer;
    transform: scale(1.15);
    transition: all 0.4;
}