.sobre{
    text-align: center;
    margin-top:20%;
    align-items: center;
}
.sobre article{
    font-size: 20px;
    margin:0 auto;
    width: 55%;
    text-align: left;
    font-weight:500;
    overflow: hidden;
}
.animationSobre{
    animation: 1s ease-out 0s 1 leftToRight;
}

@keyframes leftToRight{
    0%{
        transform: translateX(-100%);    
    }
    100%{
        transform: translateX(0%);
    }
}
@media(max-width:450px){
    .sobre article{
        width:95%;
    }
}