.btn
{
    background-color: orange;
    border: 2px solid orange;
    border-radius: 6px;
    color:white;
    width:145px;
    height: 55px;
    font-size: 14px;
}
.btn:hover{
    cursor: pointer;
}